<style>
    .home{
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: aliceblue;
        min-height: 900px;
    }
    .card {
        height: 500px;
    }
</style>
<app-header></app-header>
<div class="col-12" [ngClass]="{'home': true}">
    <div class="card m-5" style="width:400px">
        <img class="card-img-top" src="../../assets/download.png" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Roberto</h4>
          <p class="card-text">2 eventos confirmados</p>
        </div>
      </div>
    
      <div class="card m-5" style="width:400px">
        <img class="card-img-top" src="../../assets/download.png" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Roberto</h4>
          <p class="card-text">2 eventos confirmados</p>
        </div>
      </div>
    
      <div class="card m-5" style="width:400px">
        <img class="card-img-top" src="../../assets/download.png" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Roberto</h4>
          <p class="card-text">2 eventos confirmados</p>
        </div>
      </div>

      <div class="card m-5" style="width:400px">
        <img class="card-img-top" src="../../assets/download.png" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Roberto</h4>
          <p class="card-text">2 eventos confirmados</p>
        </div>
      </div>

      <div class="card m-5" style="width:400px">
        <img class="card-img-top" src="../../assets/download.png" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Roberto</h4>
          <p class="card-text">2 eventos confirmados</p>
        </div>
      </div>

      <div class="card m-5" style="width:400px">
        <img class="card-img-top" src="../../assets/download.png" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Roberto</h4>
          <p class="card-text">2 eventos confirmados</p>
        </div>
      </div>
</div>