<style>
    body {
      background-color: #f5f5f5;
    }
  
    main {
      width: 100% !important;
      display: grid;
      justify-content: center;
      overflow-y: hidden;
    }
    form {
      padding: 4em;
      margin-top: 1em;
      width: 900px;
      border-radius: 2em;
      background-color: aliceblue;
      display: flex;
      align-items: center;
      flex-direction: column;
  }
      .logo {
        display: grid;
        justify-content: center;
      }
  
      .btn-green{
        color: #fff;
       background-color:  #016565
      }
      .btn-red{
        color: #fff;
        background-color:#c12f2f ;
      }
  </style>
  <app-header></app-header>
  <main class="form-signin">
    <div [ngClass]="{'logo': true}" class="col-12 mt-3">
      <img src="../assets/logo 2.PNG" alt="logo 2">
    </div>
    <div class="col-12">
    <form>
      <h1 class="h3 mb-3">Cadastre seu funcionario</h1>
  
      <div class="form-floating col-12">
        <input type="name" class="form-control mb-3" id="floatingInput" placeholder="Nome">
      </div>
      <div class="form-floating col-12">
        <input type="text" class="form-control mb-3" id="floatingInput" placeholder="Endereço">
      </div>

      <div class="form-floating col-12">
        <input type="text" class="form-control mb-3" id="floatingInput" placeholder="CPF">
      </div>

      <div class="form-floating col-12">
          <label>Nascimento</label>
        <input type="date" class="form-control mb-3" id="floatingInput">
      </div>

      <button [ngClass]="{'btn-green': true}" class="w-50 btn btn-lg mt-5" >Cadastrar</button>

    </form>
    </div>
  </main>
